<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<title> .:: bizzOff ::. | <%= @page_title || 'Admin Area' %></title>
<%= stylesheet_link_tag('newcss', :media=>'screen') %>
<%= javascript_include_tag 'application' %>
<link media="only screen and (max-device-width: 480px)" href="smallscreen.css" type=
"text/css" rel="stylesheet" />
<link media="only screen and (min-device-width: 481px)" href="largescreen.css" type=
"text/css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<meta name="viewport" content="width=device-width; user-scalable=0;" />
<body onload="window.scrollTo(0,1);">
<header>
	<%= render  :partial => 'shared/header' %>
</header>
<div id='notice-area'>
		<%= render  :partial => 'shared/flashmsg' %>
</div>
<section id='toprow'><div id='center'><%= yield %></div></section>

 
<footer><div class="foot"><span> Cloutrix </span> by <a href="www.tekcloud5.com">Cloutrix</a>	</div>	 </footer> 
</body>
</html>
