<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<title>CardSYS| <%= @page_title || 'Admin area' %></title>
<%= stylesheet_link_tag('application', :media=>'all') %>
<%= javascript_include_tag 'application' %>
</head>
<body>
<header>
	<%= render  :partial => 'shared/header' %>
</header>
<section id='notice'>
		<%= render  :partial => 'shared/flashmsg' %>
</section>
<section id='toprow'><%= yield %></section>
<section id='middlerow'></section>
<section id='bottomrow'></section>
		
<footer id='footer'> Copyrights tekCloud.com 2013. Developed on ruby on rails framework! </footer> 
</body>
</html>
