<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<title>CardSYS| <%= @page_title || 'Admin area' %></title>
<%= stylesheet_link_tag('application', :media=>'all') %>
<%= javascript_include_tag 'application' %>
</head>
<meta name="viewport" content="width=device-width; user-scalable=0;" />
<body onload="window.scrollTo(0,1);">
<header>
	<%= render  :partial => 'shared/header' %>
</header>
<section id='notice'>
		<%= render  :partial => 'shared/flashmsg' %>
</section>
<section id='toprow'><div id='center'><%= yield %></div></section>

<section id='middlerow'>
	<div id='container'>
	<article class="box">

		<h1>Business plan</h1>
		<a class="plan" href="#">Business Plan</a>
		
		<p>Lorem ipsum dolor sit amet, et est eros scripta, te vitae aperiri disputationi qui. Solet tollit cu pro,
			 ius homero molestiae eu, at probo dicat vocibus qui. 
			 Nam ut apeirian inimicus. Doming cetero mnesarchum ius te, error nonumes argumentum vis cu, his ea atqui aliquip integre. Id vel dolorum intellegat, ut alia probatus postulant nec.
</p> 
</article>
<article class="box">

		<h1>Business plan</h1>
		<a class="plan" href="#">Business Plan</a>
		
		<p>Lorem ipsum dolor sit amet, et est eros scripta, te vitae aperiri disputationi qui. Solet tollit cu pro,
			 ius homero molestiae eu, at probo dicat vocibus qui. 
			 Nam ut apeirian inimicus. Doming cetero mnesarchum ius te, error nonumes argumentum vis cu, his ea atqui aliquip integre. Id vel dolorum intellegat, ut alia probatus postulant nec.
</p> 
</article>
<article class="box last">

		<h1>Business plan</h1>
		<a class="plan" href="#">Business Plan</a>
		
		<p>Lorem ipsum dolor sit amet, et est eros scripta, te vitae aperiri disputationi qui. Solet tollit cu pro,
			 ius homero molestiae eu, at probo dicat vocibus qui. 
			 Nam ut apeirian inimicus. Doming cetero mnesarchum ius te, error nonumes argumentum vis cu, his ea atqui aliquip integre. Id vel dolorum intellegat, ut alia probatus postulant nec.
</p> 
</article>
	</div>
	</section>
<section id='bottomrow'  >
	 
  <div class="textbox">
    <h1>Lorem ipsum dolor sit amet</h1>
    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget consequat odio. Proin sapien erat, venenatis ut mollis vel, pulvinar in eros. Cras vel felis massa, a vulputate leo. Donec posuere, orci in congue faucibus, erat metus feugiat augue, congue ultricies orci nulla in velit. Morbi pulvinar, justo nec suscipit bibendum, nisl est cursus orci, non sagittis ipsum enim sed orci. Sed imperdiet tristique condimentum. Proin eget ipsum odio, in adipiscing leo. In hac habitasse platea dictumst. Maecenas id dui non nisl lobortis porta sed sed mi. Nunc molestie tempor semper. Aenean non eros risus. Maecenas tincidunt vehicula lectus, id posuere orci consequat eget. Nam dictum ante vitae turpis interdum accumsan. Nullam est libero, porttitor vitae venenatis et, commodo viverra turpis. Ut aliquam facilisis dignissim.</a> </div>
  <div class="feed"> <a href="#"><img alt="" src="twitter.jpg" height="80" width="75"></a> <a href="#"><img alt="" src="rss.jpg" height="80" width="67"></a> </div>
 
</section>
		
<footer><div class="foot"><span> Cloutrix </span> by <a href="www.cns.com.pk">CNS</a>	</div>> </footer> 
</body>
</html>
