<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<title>CardSYS| <%= @page_title || 'Admin area' %></title>
<%= stylesheet_link_tag('application', :media=>'screen') %>
<%= javascript_include_tag 'application' %>
</head>
<meta name="viewport" content="width=device-width; user-scalable=0;" />
<body onload="window.scrollTo(0,1);">
<header>
	<%= render  :partial => 'shared/header' %>
</header>
<section id='notice'>
		<%= render  :partial => 'shared/flashmsg' %>
</section>
<section id='toprow'><div id='center'><%= yield %></div></section>

 
<footer><div class="foot"><span> Cloutrix </span> by <a href="www.cns.com.pk">CNS</a>	</div> </footer> 
</body>
</html>
